.App {
  text-align: center;
  background-color: #090017;
  color: white;
}
body{
  min-height: 400px;
  margin-bottom: 50px;
  clear: both;
}


/* Nav */
.nav-header{
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  background-color: #110426;
}

.nav-titles{
  text-decoration: none;
  color:  #FF5400;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Home.js */
.main-title{
  color: white;
  font-family: inherit;
  text-align: left;
  font-size: 40px;
  font-weight: bold;
  position:absolute;
  top: 178px;
  left: 136px;
}
.subtitle{
  color: #FF5400; 
  text-align: left;
  font-size: 40px;
  font-weight: bold;
  position:absolute;
  top: 218px;
  left: 136px;
}
.imageMainPages{
  display: flex;
  justify-content: space-around;
  width: 200px;
  height: 200px;
}
.photos{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.square {
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
     
}


.bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #110426;
  color: white;
  padding: 20px;
  text-align: center;
}

