.App {
  text-align: center;
  background-color: blanchedalmond;
}
body{
  min-height: 400px;
  margin-bottom: 50px;
  clear: both;
}



/* Nav */
.nav-header{
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  background-color: black;
}

.nav-titles{
  text-decoration: none;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Home.js */
.main-title{
  font-family: inherit;
}
.imageMainPages{
  display: flex;
  justify-content: space-around;
  width: 200px;
  height: 200px;
}
.photos{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.square {
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
     
}


.bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(17, 185, 43);
  color: white;
  padding: 20px;
  text-align: center;
}

